# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Generated CMake files
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles

# Sublime Text 2 Project files
*.sublime-*

# Visual Studio Project Files
*.vcproj*
*.vcxproj*
*.sln
*.sdf
*.suo
*.opensdf
*/*/Release
*/*/Debug
*/*/MinSizeRel
*/*/RelWithDebInfo
Win32
ipch
*.dir

# VIM
*.swp

# Generated Config files
modules/ce_base/include/CE/ConfigBase.h
modules/ce_frontend/include/CE/ConfigFrontend.h
modules/ce_game2d/include/CE/ConfigGame2D.h
modules/ce_game3d/include/CE/ConfigGame3D.h
modules/ce_ui/include/CE/ConfigUI.h

# External Dependencies
external/*

# Compiled Engine files
lib
samples/bin
docs/*

# Generated Archived Files
archive/include/CE/Config.h
