# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Generated CMake files
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles

# Sublime Text 2 Project files
*.sublime-*

# Generated Config files
ce_base/include/CE/ConfigBase.h
ce_frontend/include/CE/ConfigFrontend.h

# External Dependencies
external/*

# Compiled Engine files
lib/*
samples/bin/*

